#win-message {
    position: absolute;
    padding: 3vmin;
    width: 36vmin;
    height: 26vmin;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}


#solve-message {
    font-weight: 500;
    font-size: 4.1vmin;
}

#got-coins-message {
    font-weight: 400;
    font-size: 3.4vmin;
}

#play-again-btn {
    width: 19vmin;
    height: 7vmin;
    font-size: 2.3vmin;
}